<!-- List of Lists -->
<div>{{errorList}}</div>
<div class="todoList" *ngIf='listOfLists; else elseBlock'>
  <div>
    <h2>ToDo List</h2>
    <ng-container *ngIf='!isLoading; else Loading'>
      <ng-container *ngIf='todoLists.length; else NoList'>
        <ul class='ulListTodo'>
          <li class='unDone' *ngFor='let todoList of todoLists' (click)='inList(todoList._id)'>
            <h4>{{todoList.text}}</h4>
            <h4>{{counterDoneTodos(todoList._id)}}/{{counterAllTodos(todoList._id)}}</h4>
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </div>
  <div class='inputNewTodo'>
    <mat-form-field class="example-form-field">
      <mat-label>New list...</mat-label>
      <input #newListInput (keyup.enter)="clickCreate()"
        (blur)='newListInput.value=""' [(ngModel)]='newNameForList' matInput type="text">
    </mat-form-field>
    <button (click)="clickCreate()" class="button" mat-raised-button color="primary">Create</button>
  </div>
</div>
<ng-template class="noList" #NoList>
  <h1>Сreate a new list.</h1>
</ng-template>
<ng-template #Loading>
  <h1>Loading...</h1>
</ng-template>
<!-- End list of Lists -->
<!-- Inside list -->
<ng-template #elseBlock>
  <div>{{errorTodo}}</div>
  <div class="todoList">
    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
        <input #SearchTodo (input)='searchValue($event)' (blur)='SearchTodo.value =""; searchTextReset()' matInput
          type="text">
      </mat-form-field>
      <section class="example-section">
        <mat-radio-group (change)='onChangeFilter($event)'>
          <mat-radio-button class="example-margin" value=false checked>All</mat-radio-button>
          <mat-radio-button class="example-margin" value=true>Undone</mat-radio-button>
        </mat-radio-group>
      </section>
      <ng-container *ngIf='noTodo; else NoTodo'>
        <ul class='ulTodo'>
          <li *ngFor="let item of todos">
            <ng-container *ngIf='currentIdList === item._idList'>
              <ng-container *ngIf='searchTodo(item.text) || !searchText'>
                <ng-container *ngIf='!filter || item.done !== filter'>
                  <p [ngClass]="(item.done)?'done':'unDone'">{{item.text}}</p>
                  <p class='iconClose' (click)="changeDone(item._id)">
                    <mat-icon *ngIf='!item.done; else Done'>crop_square</mat-icon>
                    <ng-template #Done><mat-icon>done_outline</mat-icon></ng-template>
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </li>
        </ul>
      </ng-container>
    </div>
    <div class='inputNewTodo'>
      <mat-form-field class="example-form-field">
        <mat-label>Add todo...</mat-label>
        <input id='inputTodo' #newTodoInput matInput type="text" (keyup.enter)="newTodo(newTodoInput.value)">
      </mat-form-field>
      <button (click)="outList()" class="button" mat-raised-button color="primary">Back</button>
    </div>
  </div>
</ng-template>
<ng-template class="noList" #NoTodo>
  <h1>Сreate a new todo.</h1>
</ng-template>